# Add Python dependencies here.

openai-whisper
torch
fastapi
uvicorn
python-multipart
librosa
numpy
pandas
google-api-python-client
pytest
httpx
emoji
langdetect
groq
textblob
nltk
sentence-transformers
scikit-learn
transformers
